AdventOfCode/bin/
.vs/AdventOfCode/DesignTimeBuild/.dtbcache.v2
.vs/AdventOfCode/v16/.suo
AdventOfCode/obj/AdventOfCode.csproj.nuget.dgspec.json
AdventOfCode/obj/AdventOfCode.csproj.nuget.g.props
AdventOfCode/obj/AdventOfCode.csproj.nuget.g.targets
AdventOfCode/obj/project.assets.json
AdventOfCode/obj/project.nuget.cache
AdventOfCode/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.AssemblyInfo.cs
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.AssemblyInfoInputs.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.assets.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.csproj.CoreCompileInputs.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.csproj.FileListAbsolute.txt
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.csprojAssemblyReference.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.dll
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.exe
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.genruntimeconfig.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.pdb
.vscode/
.ipynb_checkpoints/
AdventOfCode/obj/
